<style>
    #sprintTimelineWrapper svg, #timeCharts svg {
        overflow: auto;
    }
    #ticketStacks ul {
        list-style-type: none;
        padding: 0;
    }
    #ticketStacks li {
        padding-left: 10px;
    }
    #ticketStacks {
        font-size: 0.8em;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding: 10px;
        grid-column-gap: 10px;
    }
    #ticketStacks p.sectionTitle {
        font-weight: 600;
    }
    #timeCharts {
        background-color: #f8f9fa!important;
    }
    .graphAnnotation text {
        font-size: 0.8em;
        text-anchor: middle;
        alignment-baseline: after-edge;
    }
    #dataSetSelectWrapper {
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
        background-color: #f8f9fa!important;
        display: inline-block;
    }
    #dataSetSelectWrapper * {
        display: inline-block;
        margin: 0;
    }
    text.graphLegend {
        alignment-baseline: before-edge;
        font-size: 0.7em;
    }

</style>
<div id='sprintTimelineWrapper'><svg width="100%" height="300" id="sprintTimeline"></svg></div>
<div id='sprintTimelineMinimapWrapper'><svg width="100%" height="75" id="sprintTimelineMinimap"></svg></div>
<div id="timeCharts">
<div id="dataSetSelectWrapper">
<div id="playStopButtonDiv"></div>
<select name="dataSetSelection" id="dataSetSelection"></select>
</div>
<div id="timeChartsWrapper">
<!-- <svg id="timeChartsSvg" width="100%"></svg> -->
</div>
</div>
<div id="ticketStacks"></div>
